.container-fluid{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOoim8YeXlO8JiMGgUtd8eDzQptaZE8kqUCaCESC1Bgu1iQ9vNDw')
}
/* .container{
    background-color: grey;
    color: white;
    font-size: 5em;
} */